* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v36_700 {
  width: 402px;
  height: 874px;
  background: rgba(4,0,48,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v68_148 {
  width: 402px;
  background: url("../images/v68_148.png");
  opacity: 1;
  position: absolute;
  top: 801px;
  left: 0px;
  border: 1px solid rgba(255,255,255,0.75);
}
.v130_564 {
  width: 127px;
  height: 127px;
  background: url("../images/v130_564.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 65px;
  left: 137px;
  border: 1px solid rgba(255,255,255,1);
  border-top-left-radius: 500px;
  border-top-right-radius: 500px;
  border-bottom-left-radius: 500px;
  border-bottom-right-radius: 500px;
  overflow: hidden;
}
.v155_265 {
  width: 128px;
  height: 62px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 253px;
  left: 6px;
  border: 4px solid rgba(255,255,255,1);
  box-shadow: 0px 0px 7px rgba(0, 0.20000000298023224, 1, 1);
}
.v155_269 {
  width: 128px;
  height: 62px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 253px;
  left: 268px;
  border: 4px solid rgba(255,255,255,0.5);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 0px 0px 7px rgba(0, 0.20000000298023224, 1, 1);
  overflow: hidden;
}
.v155_267 {
  width: 128px;
  height: 62px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 253px;
  left: 137px;
  border: 4px solid rgba(255,255,255,0.5);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 0px 0px 7px rgba(0, 0.20000000298023224, 1, 1);
  overflow: hidden;
}
.v130_568 {
  width: 281px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 201px;
  left: 60px;
  text-shadow: 0px 0px 11px rgba(1, 1, 1, 1);
  font-family: Stalinist One;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v155_398 {
  width: 305px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 344px;
  left: 21px;
  text-shadow: 0px 0px 17px rgba(1, 1, 1, 1);
  font-family: Stalinist One;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v185_375 {
  width: 77px;
  height: 77px;
  background: url("../images/v185_375.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 393px;
  left: 14px;
  overflow: hidden;
}
.v185_376 {
  width: 77px;
  height: 77px;
  background: url("../images/v185_376.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 486px;
  left: 14px;
  overflow: hidden;
}
.v185_377 {
  width: 77px;
  height: 77px;
  background: url("../images/v185_377.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 577px;
  left: 14px;
  overflow: hidden;
}
.v185_378 {
  width: 316px;
  height: 183px;
  background: url("../images/v185_378.png");
  opacity: 1;
  position: absolute;
  top: 481px;
  left: 72px;
  border: 1px solid rgba(255,255,255,0.5);
}
.v185_380 {
  width: 189px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 577px;
  left: 97px;
  font-family: Stalinist One;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v185_381 {
  width: 189px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 393px;
  left: 97px;
  font-family: Stalinist One;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v185_382 {
  width: 189px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 488px;
  left: 97px;
  font-family: Stalinist One;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v185_383 {
  width: 189px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 533px;
  left: 97px;
  font-family: Stalinist One;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v185_398 {
  width: 189px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 619px;
  left: 97px;
  font-family: Stalinist One;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v185_384 {
  width: 189px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 434px;
  left: 97px;
  font-family: Stalinist One;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v185_400 {
  width: 77px;
  height: 77px;
  background: url("../images/v185_400.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 679px;
  left: 14px;
  overflow: hidden;
}
.v185_401 {
  width: 189px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 679px;
  left: 97px;
  font-family: Stalinist One;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v185_402 {
  width: 189px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 721px;
  left: 97px;
  font-family: Stalinist One;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.music-note {
  background: url("../images/music-note.png");
  background-size: cover;
  width: 36px;
  height: 36px;
  position: absolute;
  left: 34px;
  top: 817px;
  overflow: visible;
}
.person {
  background: url("../images/person.png");
  background-size: cover;
  width: 36px;
  height: 36px;
  position: absolute;
  left: 329px;
  top: 815px;
  overflow: visible;
}
.magnifier {
  background: url("../images/magnifier.png");
  background-size: cover;
  width: 36px;
  height: 36px;
  position: absolute;
  left: 182px;
  top: 814px;
  overflow: visible;
}
.line-6 {
  margin-top: -1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.75);
  border-width: 1px 0 0 0;
  width: 402px;
  height: 0px;
  position: absolute;
  left: 0px;
  top: 801px;
  overflow: visible;
}
.image {
  width: 127px;
  height: 127px;
  background: url("../images/v130_564.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 65px;
  left: 137px;
  border: 1px solid rgba(255,255,255,1);
  border-top-left-radius: 500px;
  border-top-right-radius: 500px;
  border-bottom-left-radius: 500px;
  border-bottom-right-radius: 500px;
  overflow: hidden;
}
.rectangle-24 {
  border-radius: 50px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 4px;
  width: 128px;
  height: 62px;
  position: absolute;
  left: 6px;
  top: 253px;
  box-shadow: 0px 0px 7.95px 0px rgba(0, 51, 255, 1),
    0px 0px 15.9px 0px rgba(0, 51, 255, 1),
    0px 0px 55.64px 0px rgba(0, 51, 255, 1),
    0px 0px 111.28px 0px rgba(0, 51, 255, 1),
    0px 0px 190.77px 0px rgba(0, 51, 255, 1),
    0px 0px 250px 0px rgba(0, 51, 255, 1);
}
.rectangle-26 {
  border-radius: 50px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.5);
  border-width: 4px;
  width: 128px;
  height: 62px;
  position: absolute;
  left: 268px;
  top: 253px;
  box-shadow: 0px 0px 7.95px 0px rgba(0, 51, 255, 1),
    0px 0px 15.9px 0px rgba(0, 51, 255, 1),
    0px 0px 55.64px 0px rgba(0, 51, 255, 1),
    0px 0px 111.28px 0px rgba(0, 51, 255, 1),
    0px 0px 190.77px 0px rgba(0, 51, 255, 1),
    0px 0px 250px 0px rgba(0, 51, 255, 1);
}
.rectangle-25 {
  border-radius: 50px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.5);
  border-width: 4px;
  width: 128px;
  height: 62px;
  position: absolute;
  left: 137px;
  top: 253px;
  box-shadow: 0px 0px 7.95px 0px rgba(0, 51, 255, 1),
    0px 0px 15.9px 0px rgba(0, 51, 255, 1),
    0px 0px 55.64px 0px rgba(0, 51, 255, 1),
    0px 0px 111.28px 0px rgba(0, 51, 255, 1),
    0px 0px 190.77px 0px rgba(0, 51, 255, 1),
    0px 0px 250px 0px rgba(0, 51, 255, 1);
}
.div {
  color: #ffffff;
  text-align: center;
  font-family: Stalinist One;
  font-weight: Regular;
  font-size: 16px;
  position: absolute;
  left: 60px;
  top: 201px;
  width: 281px;
  height: 61px;
}
.pin {
  background: url("../images/pin.png");
  background-size: cover;
  width: 36px;
  height: 36px;
  position: absolute;
  left: 67.93px;
  top: 259px;
  overflow: visible;
}
.bars-play {
  background: url("../images/bars-play.png");
  background-size: cover;
  width: 36px;
  height: 36px;
  position: absolute;
  left: 183px;
  top: 267px;
  overflow: visible;
}
.nut-hex {
  background: url("../images/nut-hex.png");
  background-size: cover;
  width: 36px;
  height: 36px;
  position: absolute;
  left: 314px;
  top: 265px;
  overflow: visible;
}
.div2 {
  color: #ffffff;
  text-align: left;
  font-family: Stalinist One;
  font-weight: Regular;
  font-size: 20px;
  position: absolute;
  left: 21px;
  top: 344px;
  width: 305px;
}
.image-20 {
  background: url("../images/v185_375.png");
  background-size: cover;
  width: 77px;
  height: 77px;
  position: absolute;
  left: 14px;
  top: 393px;
  object-fit: cover;
  aspect-ratio: 1;
}
.image-21 {
  background: url("../images/v185_375.png");
  background-size: cover;
  width: 77px;
  height: 77px;
  position: absolute;
  left: 14px;
  top: 486px;
  object-fit: cover;
  aspect-ratio: 1;
}
.image-22 {
  background: url("../images/v185_375.png");
  background-size: cover;
  width: 77px;
  height: 77px;
  position: absolute;
  left: 14px;
  top: 577px;
  object-fit: cover;
  aspect-ratio: 1;
}
.author {
  color: #ffffff;
  text-align: left;
  font-family: Stalinist One;
  font-weight: Regular;
  font-size: 20px;
  position: absolute;
  left: 97px;
  top: 577px;
  width: 189px;
}
.author2 {
  color: #ffffff;
  text-align: left;
  font-family: Stalinist One;
  font-weight: Regular;
  font-size: 20px;
  position: absolute;
  left: 97px;
  top: 393px;
  width: 189px;
}
.author3 {
  color: #ffffff;
  text-align: left;
  font-family: Stalinist One;
  font-weight: Regular;
  font-size: 20px;
  position: absolute;
  left: 97px;
  top: 488px;
  width: 189px;
}
.songs-name {
  color: #ffffff;
  text-align: left;
  font-family: Stalinist One;
  font-weight: Regular;
  font-size: 16px;
  position: absolute;
  left: 97px;
  top: 533px;
  width: 189px;
}
.songs-name2 {
  color: #ffffff;
  text-align: left;
  font-family: Stalinist One;
  font-weight: Regular;
  font-size: 16px;
  position: absolute;
  left: 97px;
  top: 619px;
  width: 189px;
}
.songs-name3 {
  color: #ffffff;
  text-align: left;
  font-family: Stalinist One;
  font-weight: Regular;
  font-size: 16px;
  position: absolute;
  left: 97px;
  top: 434px;
  width: 189px;
}
.component-18 {
  background: url("../images/Component 12.png");
  background-size: cover;
  width: 247px;
  height: 110px;
  position: absolute;
  left: 138px;
  top: 353px;
}
.rectangle-32 {
  border-radius: 50px 30px 0px 50px;
  width: 8.5%;
  height: 19.09%;
  position: absolute;
  right: 16.19%;
  left: 75.3%;
  bottom: 37.27%;
  top: 43.64%;
}
.component-19 {
  background: url("../images/Component 12.png");
  background-size: cover;
  width: 247px;
  height: 110px;
  position: absolute;
  left: 138px;
  top: 539px;
}
.image-23 {
  background: url("../images/v185_375.png");
  background-size: cover;
  width: 77px;
  height: 77px;
  position: absolute;
  left: 14px;
  top: 679px;
  object-fit: cover;
  aspect-ratio: 1;
}
.author4 {
  color: #ffffff;
  text-align: left;
  font-family: Stalinist One;
  font-weight: Regular;
  font-size: 20px;
  position: absolute;
  left: 97px;
  top: 679px;
  width: 189px;
}
.songs-name4 {
  color: #ffffff;
  text-align: left;
  font-family: Stalinist One;
  font-weight: Regular;
  font-size: 16px;
  position: absolute;
  left: 97px;
  top: 721px;
  width: 189px;
}
.component-21 {
  background: url("../images/Component 12.png");
  background-size: cover;
  width: 247px;
  height: 110px;
  position: absolute;
  left: 138px;
  top: 641px;
}
.component-20 {
  background: url("../images/Component 12.png");
  background-size: cover;
  width: 247px;
  height: 110px;
  position: absolute;
  left: 138px;
  top: 440px;
}
.component-31 {
  background: url("../images/v00_01.png");
  background-size: cover;
  width: 55px;
  height: 55px;
  position: absolute;
  left: 287px;
  top: 717px;
  width: 55px;
  height: 55px;
  position: absolute;
  left: 290px;
  top: 400px;
}
.rectangle-35 {
  background: #d9d9d9;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.component-32 {
  background: url("../images/v00_01.png");
  background-size: cover;
  width: 55px;
  height: 55px;
  position: absolute;
  left: 287px;
  top: 717px;
  width: 55px;
  height: 55px;
  position: absolute;
  left: 287px;
  top: 498px;
}
.component-33 {
  background: url("../images/v00_01.png");
  background-size: cover;
  width: 55px;
  height: 55px;
  position: absolute;
  left: 287px;
  top: 717px;
  width: 55px;
  height: 55px;
  position: absolute;
  left: 287px;
  top: 592px;
}

.component-34 {
  background: url("../images/v00_01.png");
  background-size: cover;
  width: 55px;
  height: 55px;
  position: absolute;
  left: 287px;
  top: 717px;
  width: 55px;
  height: 55px;
  position: absolute;
  left: 287px;
  top: 696px;
}
