<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Stalinist+One&display=swap" rel="stylesheet" />
  <link href="static/css/add_to_playlist.css" rel="stylesheet" />
  <title>Document</title>
</head>
<body>
  <div class="v331_577">
    <div class="x"></div>
    <div class="line-14"></div>
    <div class="line-16"></div>
    <div class="line-18"></div>
    <div class="line-15"></div>
    <div class="div">Название плейлиста</div>
    <div class="div2">Добавить в плейлист песни..</div>
    <div class="image-20"></div>
    <div class="image-21"></div>
    <div class="image-22"></div>
    <div class="image-24"></div>
    <div class="image-25"></div>
    <div class="line-13"></div>
    <div class="image-23"></div>
    <div class="author">author</div>
    <div class="author2">author</div>
    <div class="author3">author</div>
    <div class="songs-name">songs name</div>
    <div class="songs-name2">songs name</div>
    <div class="songs-name3">songs name</div>
    <div class="author4">author</div>
    <div class="songs-name4">songs name</div>
    <div class="line-17"></div>
    <div class="author5">author</div>
    <div class="author6">author</div>
    <div class="songs-name5">songs name</div>
    <div class="songs-name6">songs name</div>
    <div class="songs-name7">songs name</div>
    <img class="image-27" src="image-270.png" />
    <div class="author7">author</div>
    <div class="songs-name8">songs name</div>
    <div class="component-38">
      <img class="more-vertical" src="more-vertical0.svg" />
      <div class="rectangle-32"></div>
    </div>
    <div class="component-43">
      <div class="rectangle-35"></div>
      <img class="component-23-icon" src="component-23-icon0.svg" />
    </div>
    <div class="photo"></div>
    <div class="image"></div>

  </div>
</body>
</html>