<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Stalinist+One&display=swap" rel="stylesheet" />
  <link href="static/css/author.css" rel="stylesheet" />
  <title>Document</title>
</head>
<body>
  <div class="v148_186">
    <div class="image-13"></div>
    <div class="image-14"></div>
    <div class="image-15"></div>
    <div class="image-16"></div>
    <div class="image-17"></div>
    <div class="image-18"></div>
    <div class="image-19"></div>
    <div class="vector-1"></div>
    <div class="line-10" ></div>
    <div class="line-12"></div>
    <div class="play-arrow-filled"></div>
    <div class="play-arrow-filled2"></div>
    <div class="component-37"></div>
    <div class="line-102"></div>
    <div class="line-11"></div>
    <div class="line-103"></div>
    <div class="p-laylist-1">PLaylist 1</div>
    <div class="author">author</div>
    <div class="author2">author</div>
    <div class="author3">author</div>
    <div class="author4">author</div>
    <div class="songs-name">songs name</div>
    <div class="songs-name2">songs name</div>
    <div class="author5">author</div>
    <div class="songs-name3">songs name</div>
    <div class="author6">author</div>
    <div class="songs-name4">songs name</div>
    <div class="author7">author</div>
    <div class="songs-name5">songs name</div>
    <div class="songs-name6">songs name</div>
    <div class="songs-name7">songs name</div>
    <div class="chevron-up-wide"></div>
    <div class="shuffle"></div>
    <div class="repeat"></div>
    <div>
      <a href="{{ url_for('user_2')}}" class="x"></a>
    </div>
    <div class="component-12"></div>
    <div class="component-31"></div>
    <div class="component-32"></div>
    <div class="component-17"></div>
    <div class="component-16"></div>
    <div class="component-15"></div>
    <div class="component-14"></div>
    <div class="component-33"></div>
    <div class="component-34"></div>
    <div class="component-35"></div>
    <div class="component-36"></div>
    <div class="component-13"></div>
  </div>
</body>
</html>