<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Stalinist+One&display=swap" rel="stylesheet" />
    <link href="static/css/main.css" rel="stylesheet" />
</head>
<body>
    <div class="v5_39">
        <div class="v143_160"></div>
        <div class="v80_115"></div>
        <!-- Кнопка "НАЧНЕМ" -->
        <a href="{{ url_for('genre_selection') }}" class="v36_531">НАЧНЕМ</a>
        <div class="v146_186"></div>
    </div>
</body>
</html>