<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Stalinist+One&display=swap" rel="stylesheet" />
  <link href="static/css/search.css" rel="stylesheet" />
  <title>Document</title>
</head>
<body>
  <div class="v148_186">
    <div class="_3"></div>
    <div>
      <a href="{{ url_for('wave') }}" class="music-note"></a>
    </div>
    <div>
      <a href="{{ url_for('user_1') }}" class="person"></a>
    </div>
    <div>
      <a href="{{ url_for('search') }}" class="magnifier"></a>
    </div>
    <div class="magnifier2"></div>
    <div class="div">Может понравиться</div>
    <div class="div2">Новые песни</div>
    <div class="line-5"></div>
    <div class="div3">ПОИСК</div>
    <div class="_2"></div>
    <div class="component-22"></div>
    <div class="image-24"></div>
    <div class="component-31"></div>
    <div class="component-32"></div>
    <div class="component-33"></div>
    <div class="component-34"></div>
    <div class="image-25"></div>
    <div class="image-26"></div>
    <div class="line-14"></div>
    <div class="auth-3">author</div>
    <div class="autho-2">author</div>
    <div class="author-1">author</div>
    <div class="songs-name">songs name</div>
    <div class="songs-name2">songs name</div>
    <div class="songs-name3">songs name</div>
    <div class="image-27"></div>
    <div class="au-4">author</div>
    <div class="songs-name4">songs name</div>
    <div class="heart"></div>
    <div class="heart3"></div>
    <div class="heart5"></div>
    <div class="heart7"></div>
  </div>
</body>
</html>



