<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Stalinist+One&display=swap" rel="stylesheet" />
  <link href="static/css/user_1.css" rel="stylesheet" />
  <title>Document</title>
</head>
<body>
  <div class="v36_700">
    <div>
      <a href="{{ url_for('wave') }}" class="music-note"></a>
    </div>
    <div>
      <a href="{{ url_for('user_1') }}" class="person"></a>
    </div>
    <div>
      <a href="{{ url_for('search') }}" class="magnifier"></a>
    </div>
    <div class="line-6"></div>
    <div class="image"></div>
    <div class="rectangle-24"></div>
    <div>
      <a href="{{ url_for('user_2') }}" class="rectangle-25"></a>
    </div>
    <div>
      <a href="{{ url_for('user_3') }}" class="rectangle-26"></a>
    </div>
    <div class="div">Имя пользователя</div>
    <div class="pin"></div>
    <div class="bars-play"></div>
    <div class="nut-hex"></div>
    <div class="div2">Любимые песни</div>
    <div class="image-20"></div>
    <div class="image-21"></div>
    <div class="image-22"></div>
    <div class="author">author</div>
    <div class="author2">author</div>
    <div class="author3">author</div>
    <div class="songs-name">songs name</div>
    <div class="songs-name2">songs name</div>
    <div class="songs-name3">songs name</div>
    <div class="component-18"></div>
    <div class="component-19"></div>
    <div class="image-23"></div>
    <div class="author4">author</div>
    <div class="songs-name4">songs name</div>
    <div class="component-21"></div>
    <div class="component-20"></div>
    <div class="component-31">></div>
    <div class="component-32">></div>
    <div class="component-33">></div>
    <div class="component-34">></div>
  </div>
</body>
</html>