<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Stalinist+One&display=swap" rel="stylesheet" />
  <link href="static/css/user_3.css" rel="stylesheet" />
  <title>Document</title>
</head>
<body>
  <div class="v155_346">
    <div>
      <a href="{{ url_for('wave') }}" class="music-note"></a>
    </div>
    <div>
      <a href="{{ url_for('user_1') }}" class="person"></a>
    </div>
    <div>
      <a href="{{ url_for('search') }}" class="magnifier"></a>
    </div>
    <div class="pin"></div>
    <div class="bars-play"></div>
    <div class="nut-hex"></div>
    <div>
      <a href="{{ url_for('user_1') }}" class="rectangle-24"></a>
    </div>
    <div>
      <a href="{{ url_for('user_2') }}" class="rectangle-25"></a>
    </div>
    <div class="rectangle-26"></div>
    <div class="v155_350"></div>
    <div class="v155_351"></div>
    <div class="v155_352"></div>
    <div class="v155_353"></div>
    <div class="v155_354"></div>

    <!-- Кнопка имени пользователя (возможно, для редактирования) -->
    <button class="v155_355 user-profile-button">Имя пользователя</button>

    <div class="name"></div>
    <div class="name"></div>
    <div class="name"></div>

    <!-- Кнопка удаления аккаунта -->
    <button class="v155_400 delete-account-button">Удалить аккаунт</button>
  </div>
</body>
</html>