<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Stalinist+One&display=swap" rel="stylesheet" />
  <link href="static/css/user_2.css" rel="stylesheet" />
  <title>Document</title>
</head>
<body>
  <div class="v36_700">
    <div>
      <a href="{{ url_for('wave') }}" class="music-note"></a>
    </div>
    <div>
      <a href="{{ url_for('user_1') }}" class="person"></a>
    </div>
    <div>
      <a href="{{ url_for('search') }}" class="magnifier"></a>
    </div>
    <div class="line-6"></div>
    <div class="image"></div>
    <div>
      <a href="{{ url_for('user_1') }}" class="rectangle-24"></a>
    </div>
    <div class="rectangle-25"></div>
    <div>
      <a href="{{ url_for('user_3') }}" class="rectangle-26"></a>
    </div>
    <div class="div">Имя пользователя</div>
    <div class="pin"></div>
    <div class="bars-play"></div>
    <div class="nut-hex"></div>
    <div class="image-17"></div>
    <div class="image-16"></div>
    <div class="image-15"></div>
    <div class="image-14"></div>
    <div>
      <a href="{{ url_for('author') }}" class="_1">Плейлист 1</a>
    </div>
    <div class="_2">Плейлист 2</div>
    <div class="_3">Плейлист 3</div>
    <div class="edit-4"></div>
    <div class="edit-5"></div>
    <div class="edit-3"></div>
    <div>
      <a href="{{ url_for('author') }}" class="plus-circle"></a>
    </div>
    <div class="line-11"></div>
    <div class="line-12"></div>
    <div class="_444"></div>
    <div class="line-14"></div>
    <div class="line-15"></div>
    <div class="div2">Специально для вас</div>
    <div class="div3">Энергично</div>
    <div class="heart"></div>
  </div>
</body>
</html>