<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Stalinist+One&display=swap" rel="stylesheet" />
  <link href="static/css/wave.css" rel="stylesheet" />
  <title>Music Player</title>
</head>
<body>
  <div class="v5_45">
    <div class="ellipse-2"></div>
    <img class="rectangle-13" src="rectangle-130.svg" />
    <div class="music-note"></div>
    <div>
      <a href="{{ url_for('user_1') }}" class="person"></a>
    </div>
    <div>
      <a href="{{ url_for('search') }}" class="magnifier"></a>
    </div>
    <div class="arrow_forward2"></div>
    <div class="arrow_forward"></div>
    <div class="line-3"></div>
    <div class="line-8"></div>
    <div class="line-9"></div>
    <div class="play-arrow"></div>
    <div class="_1">
      <div class="rectangle-35"></div>
    </div>
    <div class="song-13">songs name</div>
    <div class="div">следующее</div>
    <div class="v210_322"></div>
  </div>
</body>
</html>